/* COMMON STYLES */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family:  Lato, Helvetica Neue, helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

button:hover{
    cursor: pointer;
}

a, .icon {
    color: white;
}

/* Navigation bar styling */

nav {
    background-color: #23252b;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.nav-bar {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 90px;
}

#page-title, .site-icon {
    font-size: 1.4rem;
    color: #F47521;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#page-title:hover {
    color: white;
    background-color: inherit;
}

#page-title:hover img{
    filter: brightness(0) invert(1);
}

.icon {
    height: 25px;
    padding-left: 10px;
    padding-top: 6px;
    color: white;
} 

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-left li a, .nav-right li a{
    display: flex;
    align-items: center;
    padding: 15px;
    height: 30px;
}

.nav-left li a:hover, .nav-right li a:hover {
    background-color: #141519;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #141519;
    top: 60px;
    padding: 0;
}

.dropdown li a {
    font-size: 0.9rem;
    padding: 10px 20px;
}
.browse-drop-content {
    display: none;
    background-color: #141519;
    flex-direction: row;
    position: absolute;
    padding: 5px;
}
.drop-column-one {
    border-right: 2px solid rgb(61, 56, 56);
}

.browse-drop-content ul{
    display: block;
    padding: 0;
}

.browse-drop-content ul a{
    width: 190px;
    font-size: 0.9rem;
    padding: 5px 10px 10px  10px;
}

.browse-drop-content ul a:hover {
    background-color: #23252b;
}

.browse-drop-content ul > div {
    font-size: 0.9rem;
    padding: 15px 0px 15px 10px;
    color: gray;
}

.browse-hover:hover .browse-drop-content {
    display: flex;
}
.news-dropdown {
    display: none;
    width: 300px;
    border-top: 10px solid #141519;
    border-bottom: 10px solid #141519;
}

.news-hover:hover .news-dropdown {
    display: block;
}

.news-dropdown li a:hover {
    background-color: #23252b;
}

/* Main body with the image */

.main-carousel {
    display: flex;
    position: relative;
}

.main-img {
    width: 75%;
}

.side {
    position: relative;
}

.name-logo {
    width: 400px;
}

.genre-info {
    font-size: 1rem;
    color: rgb(214, 214, 214);
    padding: 10px 0;
}

.anime-summary {
    line-height: 25px;
    color: #C4DADA;
}

.anime-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 0 70px 0 50px;
    background-color: black;
    color: white;
    height: 100%;
}

.gradient {
    position: absolute;
    background-image: linear-gradient(to left,  rgba(255, 0, 0, 0), rgb(0, 0, 0));
    width: 100px;
    top: 0;
    bottom: 0;
    right: -99px;
}

/* Watch and bookmark button styling */

.click-more-info-main {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 25px 0;
}

.watch-button {
    color: black;
    background-color: #F47521;
    width: 230px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
}

.fa-play {
    padding-right: 7px;
    color: black;
}

.bookmark .fa-bookmark {
    color: #F47521;
}

.bookmark {
    border: 2px solid #F47521;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-button:hover {
    background-color: #fd7d27;
    cursor: pointer;
}

.bookmark:hover {
    border-color: #fd7d27;
    cursor: pointer;
}

.bookmark:hover .fa-bookmark {
    color: #fd7d27;
}

.gradient-layer {
    background-image: linear-gradient(to bottom,  rgba(255, 0, 0, 0), rgb(0, 0, 0));
    height: 100px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Styling for sliding cards */

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 1;
    top: 900px;
    background-color: rgb(0, 0, 0);
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column
}

.card-heading {
    color: white;
    font-size: 25px;
}

.card-point {
    color: gray;
    padding: 10px 0 20px 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: auto;
}

/* Hiding overflow */

.card-container::-webkit-scrollbar { /* chrome, safari, opera */
    display: none;
}

.card-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* Card main */

.card {
    position: relative;
}

.card-img {
    width: 268px;
    height: 405px;
    object-fit: cover;
    object-position: 23% 50%;
}

.card-title {
    color: white;
    font-size: 0.9rem;
}

.card-lang {
    color: gray;
    font-size: 0.8rem;
    padding: 9px 0;
    font-weight: bold;
}

/* Stylng card overlay */

.card-overlay {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px 0px 0 20px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 93%;
    opacity: 0;
    transition: opacity 0.1s ease;
}

.card-over-title, .card-rating {
    font-size: 1rem;    
    color: white;
}

.card-season {
    color: gray;
    font-size: 0.9rem;
    padding: 10px 0;
    line-height: 20px;
}

.card-descp {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.card-icons {
    display: flex;
    padding-top: 230px;
    padding-left: 5px;
    gap: 20px;
}

.card-icons i {
    color: #F47521;
}

/* Display card overlay on hover */

.card:hover .card-overlay {
    cursor: pointer;
    opacity: 1;
}

/* other similar card section extra */

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-separation {
    padding-top: 100px;
}

/* Styling banners */

.banner {
    text-align: center;
}

.img-banner {
    max-height: 458px;
    max-width: 90%;
    margin-top: 80px;
}

/* Quick recommendation styling */

.recommend {
    width: 100%;
    margin-top: 100px;
}

.click-more-info {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 25px 0;
}

.recommend-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    justify-content: center;
    align-items: center;
}

.recommend-main img {
    max-height: 360px;
    max-width: 638px;
}

.rcmd-img-2 {
    display: none;
}

.recommend-descp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    padding-left: 20px;
}

.recommend-descp h1 {
    font-size: 2rem;
}

.recommend-descp p:nth-child(1) {
    padding: 5px 0;
}

.recommend-descp p:nth-child(3) { /* Second child selector */
    font-size: 0.9rem;
    font-weight: bold;
}

.button-with-bookmark {
    padding-top: 0;
}
.bookmark-spelled {
    display: flex;
    align-items: center;
    width: 200px;
}

.bookmark-spelled p {
    padding-left: 5px;
    color: #fd7d27;
    font-weight: bold;
}

/* New updates styling */

.new-update {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.new-update h1, .new-update i {
    font-size: 1.4rem;
}

.new-update p {
    font-size: 0.8rem;
}

.update-today {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0;
    gap: 26px;
}

.today-cells {
    display: flex;
    gap: 20px;
    position: relative;
    transition: transform 0.5s;
}

.today-cells img{
    width: 153px;
    height: 88px;
}

.today-cells:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.cell-time {
    position: absolute;
    bottom: 0;
    right: 0;
    color: aqua;
    font-size: 0.9rem;
}

.cell-descp {
    display: flex;
    flex-direction: column;
}

.cell-descp h3 {
    font-size: 0.9rem;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.show-more-button {
    width: 40%;
    height: 45px;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #213944;
    border: none;
}

.show-more-button:hover {
    cursor: pointer;
    background-color: #375461;
}

/* News section styling */

.section-break {
    margin-top: 100px;
    position: relative;
}

.orange-bg {
    width: 100%;
    height: 860px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.leaning-hime-img {
    position: absolute;
    width: 326px;
    height: 762px;
    top: 3%;
    left: -300px;
    z-index: -1;
}

.news-yuzu-img {
    position: absolute;
    width: 213px;
    height: 164px;
    top: 60%;
    right: -170px;
    z-index: -1;
}

.news-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.news-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 40px 0;
}

.news-elements {
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 50%;
    position: relative;
}

.side-and-center {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.side-news-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 30px;
}

.side-news {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.side-news img {
    max-width: 307px;
    max-height: 172px;
}

.side-news p {
    font-size: 0.8rem;
    color: gray;
    line-height: 20px;
}

.center-news-container .heading {
    margin-bottom: 30px;
}

.center-news {
    display: flex;
    gap: 20px;
}

.center-news-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.center-news-cells {
    display: flex;
    gap: 10px;
}

.center-news-cells:hover {
    cursor: pointer;
}

.center-news-cells img {
    max-width: 140px;
    max-height: 79px;
}

.center-news-descp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-news-descp p{
    font-size: 0.8rem;
    color: gray;
    line-height: 20px;
}

/* STYLING FOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 20px;
    padding-top: 100px;
}

.footer-top img {
    width: 249px;
    height: 94px;
}

.footer-top p {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.footer-top button {
    background-color: transparent;
    border-color: #fd7d27;
    color: #fd7d27;
    font-size: 1.1rem;
    width: 120px;
    padding: 10px 0;
}

.footer-size {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-info-container {
    background-image: linear-gradient(to bottom, black, #213944);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-bottom: 50px;
}

.footer-info {
    display: flex;
    gap: 100px;
    padding-top: 70px;
    justify-content: space-around;
}

.footer-info ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
}

.footer-info ul .footer-headings {
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.footer-info ul li {
    font-size: 0.85rem;
    color: gray;
}

.footer-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-collab {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-collab p:nth-child(1) {
    border-right: 1px solid rgb(117, 115, 115);
    padding-right: 10px;
}

.footer-collab p:nth-child(2) {
    padding-left: 10px;
}

#dropdown {
    width: 140px;
    height: 33px;
    background-color: transparent;
    border: none;
    text-align: center;
}

#dropdown:hover {
    background-color: #23252b;
    cursor: pointer;
}

#dropdown option {
    color: gray;
    background-color: #23252B;
}

/* _________________ END OF WIDTH GREATER THAN 1900px ___________________*/


/* -------- WIDTH <= 1900px -------- */

@media only screen and (max-width: 1900px) {

    /* Main body with the image */

    .main-img {
        width: 60%;
    }

    /* New updates styling */

    .update-today {
        grid-template-columns: 1fr 1fr 1fr;
    }

}
/* -------- WIDTH <= 1500px -------- */

@media only screen and (max-width: 1500px) {

     /* MAIN BODY WITH THE IMAGE */

    .main-img {
        width: 50%;
    }

    /* Quick recommendation styling */
    
    .recommend-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: white;
        justify-content: center;
        align-items: center;
    }
    
    /* .recommend-main img {
        max-height: 240px;
        max-width: 160px;
    } */

    /* MAIN BODY WITH THE IMAGE */

    .news-elements {
        width: 70%;
    }
    
    .recommend-descp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        max-width: 400px;
        padding-left: 20px;
    }
    
    .recommend-descp h1 {
        font-size: 2rem;
    }
    
    .recommend-descp p:nth-child(1) {
        padding: 5px 0;
    }
    
    .recommend-descp p:nth-child(3) { /* Second child selector */
        font-size: 0.9rem;
        font-weight: bold;
    }

    .click-more-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 25px 0;
    }
    
    .button-with-bookmark {
        padding-top: 0;
    }
    .bookmark-spelled {
        max-width: 200px;
    }

    /* FOOTER STYLING */
    .footer-size {
        width: 80%;
    }

}

/* @media only screen and (max-width: 1500px) {

    MAIN BODY WITH THE IMAGE

    .news-elements {
        width: 70%;
    }
} */

@media only screen and (max-width: 1350px) {

    /* MAIN BODY WITH THE IMAGE */

    /* .main-carousel {
        display: flex;
        position: relative;
    } */
    
    .main-img {
        width: 100%;
        position: absolute;
        z-index: -2;
    }
    
    .side {
        position: static;
        padding: 180px 0 50px;
    }

    .anime-info {
        padding: 0;
        margin: 0 70px 0 70px;
        background-color: transparent;
        width: 30%;
    }
    
    .name-logo {
        max-width: 300px;
    }
    
    .gradient {
        position: absolute;
        width: 50%;
        z-index: -1;
        right: 0;
        left: 0;
    }

    /* News section styling */

    .orange-bg {
        width: 100%;
    }

    .leaning-hime-img {
        display: none;
    }

    .news-yuzu-img {
        display: none;
    }

    .news-elements {
        width: 90%;
    }

    .side-news-container {
        width: 32%;
    }

    .side-news {
        gap: 10px;
    }

    .center-news {
        gap: 10px;
    }

    .center-news-section {
        gap: 10px;
    }

    /* New updates styling */

    .update-today {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 1000px) {

    /* NAVBAR STYLING */
    
    .nav-bar {
        display: block;
    }

    .browse-hover, .games, .news-hover {
        display: none;
    }

    nav ul {
        justify-content: space-between;
        padding: 0px 20px;
    }

    /* MAIN */

    .side {
        padding: 75px 0 110px 0;
    }

    .name-logo {
        max-width: 250px;
    }
    
    .anime-info {
        display: flex;
        padding: 0;
        margin: 0 70px 0 50px;
        width: 60%;
        gap: 15px;
    }
    
    .anime-summary {
        display: none;
    }
    
    /* Watch and bookmark button styling */
    
    .watch-button {
        width: 300px;
        height: 40px;
        /* font-size: 0.9rem;
        font-weight: bold;
        border: none; */
    }
    
    .bookmark {
        width: 40px;
        height: 35px;
    }

    /* Quick recommendation styling */

    .recommend-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: white;
        justify-content: center;
        align-items: flex-start;
    }
    
    .recommend-main img {
        max-height: 270px;
        max-width: 390px;
    }
    
    .recommend-descp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        max-width: 400px;
        padding-left: 20px;
    }
    
    .recommend-descp h1 {
        font-size: 1.6rem;
    }
    
    .recommend-descp p:nth-child(1) {
        padding: 5px 0;
    }
    
    .recommend-descp p:nth-child(3) { /* Second child selector */
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    .button-with-bookmark {
        padding-top: 0;
    }

    .watch-button-2 {
        width: 100%;
    }
    .bookmark-spelled {
        width: 100%;
    }
    

    .md-excess-news {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    /* MAIN */

    .side {
        padding: 220px 0 0 0;
        width: 100%;
    }

    .name-logo {
        max-width: 250px;
    }
    
    .anime-info {
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: center;
        gap: 0px;
    }
    
    .anime-summary {
        display: none;
    }

    .gradient {
        display: none;
    }

    .gradient-layer {
        height: 300px;
        z-index: -1;
    }

    .click-more-info {
        flex-direction: row;
    }

    /* Recommendation styling */


    .rcmd-img-1 {
        display: none;
    }
    
    .rcmd-img-2 {
        display: block;
    }

    .recommend-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: white;
        justify-content: center;
        align-items: flex-start;
    }
    
    .recommend-descp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        max-width: 400px;
        padding-left: 20px;
    }
    
    .recommend-descp h1 {
        font-size: 1.6rem;
    }
    
    .recommend-descp p:nth-child(1) {
        padding: 5px 0;
    }
    
    .recommend-descp p:nth-child(3) { /* Second child selector */
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    .button-with-bookmark {
        padding-top: 0;
    }

    .watch-button-2 {
        width: 100%;
    }

    .md-excess-news {
        display: none;
    }

    /* New updates on today and yesterday */

    .update-today {
        grid-template-columns: 1fr;
    }

    /* News Section */
    
    .side-news-container {
        width: 100%;
        flex-direction: row;
    }

    .side-and-center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    
    .top-news-sm {
        display: none;
    }
}

@media only screen and (max-width: 679px) {

    /* Side news */

    .side-news img {
        max-width: 220px;
        max-height: 172px;
    }
    
    /* FOOTER */

    .footer-info {
        display: flex;
        gap: 70px;
        padding-top: 70px;
        justify-content: space-around;
    }
} 

@media only screen and (max-width: 600px) {

    /* Banner image */

    .img-banner {
        height: 250px;
        max-width: 90%;
        margin-top: 80px;
    }

    /* News Section */

    .side-news img {
        max-width: 200px;
        max-height: 172px;
    }

    /* Recommend Main */

    .rcmd-img-1 {
        display: block;
    }
    
    .rcmd-img-2 {
        display: none;
    }

    .recommend {
        width: auto;
        margin-top: 100px;
    }

    .recommend-main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: white;
        justify-content: center;
        align-items: center;
        max-height: initial;
        max-width: initial;
        gap: 20px;
    }

    .recommend-main img {
        max-height: 270px;
        max-width: 460px;
    }

    .bookmark-spelled {
        display: none;
    }

    .recommend-descp {
        max-width: 80%;
        padding-left: 0;
    }

    .watch-button {
        width: 100%;
        height: 40px;
    }

    /* FOOTER */

    .footer-info .account-footer {
        display: none;
    }

}

@media only screen and (max-width: 600px) {

    /* MAIN */

    .side {
        padding: 170px 0 0 0;
    }

    .name-logo {
        max-width: 200px;
    }

    .watch-button {
        width: 300px;
        height: 40px;
    }

    /* News Section */

    .side-news img {
        width: 100%;
        max-height: 172px;
    }

    .center-news-descp > h2 > b {
        font-size: 15px;
    }   

    .news-elements {
        padding: 30px;
    }

    /* Recommened */

    .recommend-main img {
        max-height: 270px;
        width: 90%;
    }

    /* FOOTER */

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding-top: 70px;
        justify-content: space-around;
    }

    .footer-collab {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-collab p:nth-child(2) {
        padding-left: 0;
    }

    .footer-base {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 425px) {

        /* NAVBAR */

        nav ul {
            justify-content: center;
            padding: 0px 0px;
        }

        /* MAIN */

        html, body {
            overflow-x: hidden;
        }

        #page-title, .site-icon {
            font-size: 1.2rem;
        }

        .name-logo {
            max-width: 160px;
        }

        .genre-info {
            font-size: 0.9rem;
        }

        .watch-button {
            width: 270px;
            height: 40px;
        }

        .img-banner {
        height: 220px;
        width: 90%;
        margin-top: 80px;
        }

        .orange-bg {
            height: 930px;
        }
}

@media only screen and (max-width: 345px) {

    /* NAV */

    .nav-right li a {
        padding: 0px;
    }

    nav ul {
        padding: 0px 0px;
        gap: 30px;
    }

    .nav-right {
        gap: 5px
    }

    /* MAIN */

    .watch-button {
        width: 220px;
    }

    /* NEWS SECTION */

    .center-news-cells img {
        max-width: 100px;
        max-height: 70px;
    }

    /* Hime break */

    .orange-bg {
        height: 990px;
    }
}